//Breakpoints;
$bp-desktop: 1600px;
$bp-tablet: 1024px;
$bp-phone: 800px;



//Colors
$c-red: red;
$c-orange: orange;
$c-blue: blue;
$c-green: green;
$c-yellow: gold;
$c-white: white;
$c-black: black;

$c-first: #212121;
$c-second: #00e;
$c-third: #5a5aff;
$c-fourth: #f79f24;
$c-bg: #feefd0;
$c-correct: #8bc34a;
$c-error: #970810;



//Typography
$f-sans: 'ProximaNova', 'Montserrat', 'Arial', sans-serif;
$f-safe: 'Verdana', 'Arial', $f-sans;
$f-title: 'Action', 'Montserrat', $f-sans;
$f-stack-serif: 'Georgia', 'Times', 'Times New Roman', serif;
$f-monospace: monospace;

$f-bigger: 120px;
$f-big:	36px;
$f-medium: 24px;
$f-regular:	16px;
$f-small: 14px;
$f-xsmall: 12px;


body{
	margin: 0;
	font-family: $f-sans;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
	@include transition(200ms);
	// opacity: 0;
	&.loaded{
		opacity: 1;
	}
}

*{
	box-sizing: border-box;
	font-weight: 400;
	color: $c-white;
	::-webkit-scrollbar-track {
		background-color: $c-bg;
	}
	::-webkit-scrollbar-thumb {
		background-color: $c-second;
	}
	::-webkit-scrollbar {
		width: 2px;
		background-color: $c-bg;
	}
	::selection{
		color: $c-white;
		background: #90a4ae;
	}
}

.flex{
	display: flex;
	&.wrap{
		flex-wrap: wrap;
	}
	&.center{
		justify-content: center;
		align-items: center;
	}
	&.column{
		flex-direction: column;
	}
	&.space-between{
		justify-content: space-between;
	}
	&.align-start{
		align-items: flex-start;
	}
	&.align-end{
		align-items: flex-end;
	}
	&.justify-start{
		justify-content: flex-start;
	}
	&.justify-end{
		justify-content: flex-end;
	}
}

.fullwidth{
	width: 100%;
}
.halfwidth{
	width: 50%;
}
.thirdwidth{
	width: 33.3%;
}
.twothirdwidth{
	width: 66.6%;
}

.svg-icon-border{
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	&.c-white{
		stroke: $c-white;
	}
}